
main p{
    margin-top: 2.5rem;
    font-size: min(2.5rem,4vw);
    font-weight: normal;
    font-family:var(--primary-font);
    color: white;
}
main .section,
main .blueheading{
    clear: both;
}

#contribute,
#supportlearning{
    margin-top: 40px;
    width: 100%;
    height: auto;   
}

#internship{
    float: right;
    margin-top: 2.5rem;
    margin-left: 100px;
    width: clamp(325px,100%,490px);
    max-height: auto;
    object-fit: contain;
    margin-bottom: 40px;
}

a{
    text-decoration: none;
}

a:visited {
  color: black;
}

h2,h3{
    font-size: inherit;
}

@media screen and (max-width: 515px) {

    h2,h3,main > .panel p:first-of-type{
        font-size: min(2rem,9vw);
    }
    #internship{
        width: 100%;
        display: block;
    }
}