#museum_image{
    background-color: var(--primary-color);
}

.GetInvolved>img,
#museum_image>img{
  width: 100%;
  max-height: 910px;
  object-fit: cover;
  display: block;
}

.circle-crop{
  width: 315px;        
  height: 315px;        
  object-fit: cover;
  border-radius: 50%;   /* Make the corners perfectly round */
}

.card{
    display: flex;
    flex-flow: column nowrap;
    font-size: 3rem;
    font-weight: bold;
    font-family:var(--primary-font);
    align-items: center;
    height: calc(315px + 3rem);
}

#grid{
    display:grid;
    grid-template-columns: repeat(6,auto);
    grid-template-rows: auto auto;
    margin:auto;
    padding-top:100px;
    padding-bottom:150px;
    row-gap: 100px;
    place-items: center;
    background-color: white;
}

.card-1{
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.card-2{
    grid-column: 3 / 5;
    grid-row: 1 / 2;
}

.card-3{
    grid-column: 5 / 7;
    grid-row: 1 / 2;
}

.card-4{
    grid-column: 2 / 4;
    grid-row: 2 / 3;
}

.card-5{
    grid-column: 4 / 6;
    grid-row: 2 / 3;
}

@media screen and (max-width: 1250px) {
    .card-1{
        grid-column: 2 / 4;
        grid-row: 1 / 2;
    }
    .card-2{
        grid-column: 4 / 6;
        grid-row: 1 / 2;
    }
    .card-3{
        grid-column: 2 / 4;
        grid-row: 2 / 3;
    }
    .card-4{
        grid-column: 4 / 6;
        grid-row: 2 / 3;
    }
    .card-5{
        grid-column: 3 / 5;
        grid-row: 3 / 4;
    }
}

@media screen and (max-width: 800px) {
    .card-1{
        grid-row: 1 / 2;
    }
    .card-2{
        grid-row: 2 / 3;
    }
    .card-3{
        grid-row: 3 / 4;
    }
    .card-4{
        grid-row: 4 / 5;
    }
    .card-5{
        grid-row: 5 / 6;
    }
    .card{
        grid-column: 3 / 5; 
        font-size: 2rem; 
    }
}
.link-to{
    display: flex;
    flex-flow: row nowrap;
    align-items:center;
    gap:10px;
    font-family: var(--primary-font);
    font-size: 2.25rem;  
    border-color: white;
    background-color: white;
    text-decoration: none;
}
a{
    text-decoration: none;
}

a:visited {
  color: black;
  text-decoration-color: black;
}
.name-of-the-event,.place,.date{
    font-family: var(--primary-font); 
    color: black;
}
.name-of-the-event{
    font-size: 2rem;
    font-weight: 500;
}
.place,.date{
    font-size: 1.25rem;
    font-weight: 500;
}
.exhibition-cards{
    display:grid;
    grid-template-columns: 1fr 0.5fr 0.5fr 1fr;
    padding-top:50px;
    padding-bottom:100px;
    background-color: white;
}

.exhibition-card{
    padding: 20px;
	background: #fff;
	box-shadow: 0 4px 20px rgba(194,194,194,.25);
	border-radius: 5px;  
	display: grid;
}
.exhibition-card> img{
    width: 100%;
    height: 430px;
    object-fit: cover;
}

.exhibition-card-1{
    grid-column: 1 / 2 ;
}
.exhibition-card-2{
    grid-column: 2 / 4;
}
.exhibition-card-3{
    grid-column: 4 / 5;
}

@media screen and (max-width: 1300px) {
    .exhibition-card-1{
        grid-column: 1 / 3 ;
    }
    .exhibition-card-2{
        grid-column: 3 / 5 ;
    }
    .exhibition-card-3{
        grid-column: 1 / 5 ;
        grid-row:3;
    }
}


@media screen and (max-width: 800px) {
    .exhibition-cards
    {
        display:block;
    }
    .exhibition-card> img{
        object-fit: contain;
        height: auto;
    }
}

.OpeningHours{
    background-image:  url("../images/museum-logo.png"); 
    background-color: white; 
    background-repeat:  no-repeat;
    background-position:   center center;
    background-size:   contain;  
    height: 760px;
    width: 100%;  
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    justify-content: space-between; 
    padding-bottom: 50px;                                                                                                                                                                                                                                                                                                                                              
}
table{
    font-size: 2rem;
    font-family:var(--primary-font);
    background-color: var(--primary-color);
    color:var(--text-color);   

}
th, td {
  padding: 2px;
}

#museum_image,
.GetInvolved{
    position: relative;
}

#ExploreButton,
#GetInvolvedButton{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

@media screen and (max-width: 600px) {
    .OpeningHours
    {
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center; 
        margin-bottom: 0; 
        height: 550px;  
    }
    table{
        width: 100%;
        border: 5px solid white;
    }
}
@media screen and (max-width: 375px) {
    table{
        font-size:9vw;
    }
}

.main_panel{
    background-color: var(--primary-color);
    border-radius: 20px;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
    overflow: hidden;
    border: 5px solid var(--primary-color);
}

@media screen and (max-width: 515px) {

    h2,p{
        font-size: min(2.5rem,10vw);
    }
}
#ExploreButton,
#GetInvolvedButton
{
    font-size: min(4rem,10vw);
}