main > .panel > img{
    float: right;
    margin-top: 2.5rem;
    margin-left: 100px;
    width: clamp(300px,100%,490px);;
    height: auto;
    object-fit: contain;
}

h4,p{
    margin-top: 2.5rem;
    font-weight: normal;
    font-family:var(--primary-font);
    color:var(--text-color);
    font-size: 2.5rem;
}

h4{
    font-weight: bold;
}

table{
    font-size: 2rem;
    font-family:var(--primary-font);
    background-color: var(--primary-color);
    color:var(--text-color);
    border: 1px solid black;

}
th, td {
  padding: 2px;
}


a{
    text-decoration: none;
}

a:visited {
  color: black;
  text-decoration-color: black;
}

.OpeningHours{
    background-image:  url("../images/museum-logo.png"); 
    background-color: white; 
    background-repeat:  no-repeat;
    background-position:   center center;
    background-size:   contain;  
    height: 760px;
    width: 100%;  
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    justify-content: space-between; 
    padding-bottom: 50px;                                                                                                                                                                                                                                                                                                                                              
}
table{
    font-size: 2rem;
    font-family:var(--primary-font);
    background-color: var(--primary-color);
    color:var(--text-color);   

}
th, td {
  padding: 2px;
}

@media screen and (max-width: 515px) {
    table{
        font-size:9vw;
    }
    main > .panel > img{
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        display: block;
        margin-bottom: 30px;
    }
    h2,h3,p{
        font-size: min(2.5rem,10vw);
    }
}

